body
{
	background: url(../IMAGES/background.png) no-repeat; /*<----- changable background*/
	background-attachment: scroll;
	background-position: all;
	background-size: cover;
}

.text{
	background: var(--clr-sidebarLetter);/* <---- changable text background color*/
	opacity: 60%;
	color: var(--clr-textbox);
	width: 80%;
	height: 70%;
	margin-left: -50px;
	top: 100px;
}

.box img {
	width:200px;
	height:150px;
}

.box{
	padding: 15px;
 	border: 10px;
	position: fixed;
	bottom: 150px;
	height: 300px;
 	width: 200px;
 	border-radius: 10px;
 	color: var(--clr-sidebarLetter);
 	background-color: var(--clr-textbox);  
  	background-clip:border-box;
  	text-align: center;
}


#box1 {
  margin-left: 0px;
}

#box2 {
  margin-left: 250px;
}

#box3 {
  margin-left: 500px;
}

#box4 {
  margin-left: 750px;
}

.wrapper-toggle-switch{

  position: absolute;
}