*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  --clr-background: #fff;
  --clr-header: #35A7E8;
  --clr-sidebar:  #038bca;
  --clr-sidebarLetter: #000;
  --clr-textbox: black;
  --clr-sidebarLU: #Ffff6f;

}

html{
  
  /*--bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-text: #333333;*/
  min-height: 100vh;
  width: 100%;

}  

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  background-color: var(--clr-background);
 
  width: 100%;

}
.container1{

	height: 100%;
	width: 100%;
}
header{
	position: fixed;
	background: var(--clr-header); /*<---- header changable*/
	padding: 20px;
	width: 100%;
	height: 70px;
}


.left_area h3{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}

.logout_btn{
	padding: 5px;
	background: #19B3D3;
	text-decoration: none;
	float: right;
	margin-top: -30px;
	margin-right: 40px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;
}

.logout_btn:hover{
	background: #0D9DDB;

}

.sidebar{
	background: var(--clr-sidebar); /*<---- Sidebar color*/
	margin-top: 0px; /*70*/
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 200px;
	height: 100%;
	top:70px;
	transition: 0.5s;
	transition-property: left;
}

.sidebar a{
	color: var(--clr-sidebarLetter); /*<---- sidebar letter colors*/
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar a:hover{
	background: var(--clr-sidebarLU); /*<---- light-up color in the sidebar*/
}

.sidebar i{
	padding-right: 10px;
}

label #sidebar_btn{
	z-index: 1;
	color: #fff;
	position: fixed;
	cursor: pointer;
	left: 300px;
	font-size: 25px;
	margin: 5px 0;
	transition: 0.5s;
	transition-property: color;
}

label #sidebar_btn:hover{
	color: #Ffff6f;
}

#check:checked ~ .sidebar{
	left: -140px;
}
#check:checked ~ .sidebar a span{
	display: none;
}

#check:checked ~ .sidebar a{
	font-size: 20px;
	margin-left: 120px;
	width: 80px;
}

.content{
	/*margin-left: 200px*/; /*optional if we want moving background according to side bar*/
	background: url(backgrounsd.png) no-repeat; /*<----- changable background*/
	background-position: center;
	background-size: cover;
  -webkit-background-size: cover;
	height: 100vh;
	transition: 0.5s;
}

#check:checked ~ .content{
	margin-left: 0px;  /*effects of resizing background from above*/
}

#check{
	display: none;
}

/* might be the result*/

.result{

	position: fixed;
}

.text, .mapResult{
	background: var(--clr-textbox);/* <---- changable text background color*/
	opacity: 50%;
	color: var(--clr-background);
	
	width: 450px;
	height: 350px;
	
	top: 200px;
	transition: 0.5s;
}
.mapResult{
    position: fixed;
	margin-left: 500px;
	margin-right: 0px;
	transition: 0.5s;
	padding: 20px;
}
.text{
	position: fixed;
	padding: 20px;
	margin-right: 0px;
	margin-left: 0px;

}

#check:checked ~ .text{
	margin-left: 100px
}
/* search bar*/
.con{

	position: fixed;
}
.container{
  position: absolute;
  top: 15%;
  left: 20%;
  bottom: 0px;
  right: 0px; 
}

.form{

  background-color: #fff;
  display: flex;
  width: 800px;
  height: 50px;
  padding: 10px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(12, 18, 18, 0.5);
}
.dropdown{
  position: relative;
  width: 160px;
  padding-left: 10px;
  color: #3a3a3a;
  border-left: 2px solid #f57168;
  cursor: pointer;
}
.dropSort{
  position: relative;
  width: 200px;
  padding-right: 10px;
  padding-left: 0px;
  color: #3a3a3a;
  cursor: pointer;
}


.default-option{
  padding: 5px 0px 15px 0px;
  font-size: 21px;
  
}
.default-option:hover{
   color: #f44336;
}
.sort-option{
  padding: 5px 3px 0px 40px;
 font-size: 21px;
}
.sort-option:hover{
   color: #f44336;
}

.dropList ul{
  list-style: none;
  background-color: #fff;
  color: #696969;
  position: absolute;
  top: 50px;
  left: -25px;
  width: 200px;
  border-radius: 5px;
  /*display: none;*/
  visibility: hidden;
}
.sortList ul{
  list-style: none;
  background-color: darkgrey;
  color: #696969;
  position: absolute;
  top: 50px;
  left: -20px;
  width: 200px;
  border-radius: 5px;
  /*display: none;*/
  /*visibility: hidden;*/
}

.dropdown:hover .dropList ul{
  visibility: visible;
  height: auto;
  transition: .5s;
}

.dropSort:hover .sortList ul{
  visibility: visible;
  height: auto;
  transition: .5s; 
  
}

.dropList ul .active{
  display: block;
}
.sortList ul .active{
  display: block;
}
.dropList,  ul li{
  padding: 10px 10px 10px 20px;
}
.sortList, ul li {
  padding: 10px 10px 10px 20px;
}
.dropList ul li i{
  margin: 5px;
}
.sortList ul li i{
  margin: 5px;
}
.dropdown::before{
  content: "" ;
  border-width: 6px 6px 0px 6px;
  border-style: solid;
  border-color: #1d1d1d transparent;
  position: absolute;
  right: 0px;
  top: 50%;
  
}
.dropSort::before{
  content: "" ;
  border-width: 6px 6px 0px 6px;
  border-style: solid;
  border-color: #1d1d1d transparent;
  position: absolute;
  right: 20px;
  top: 50%;
  }
.dropList ul li::before{
  content:"";
  border-width: 0px 7px 7px 7px;
  border-style: solid;
  border-color: red transparent;
  position: absolute;
  bottom: 100%;
  right: 50px;

 }
 .sortList ul li::before{
   content:"";
  border-width: 0px 7px 7px 7px;
  border-style: solid;
  border-color: red transparent;
  position: absolute;
  bottom: 100%;
  right: 45px;
 }
.dropList ul li i{
  margin: 5px;
 }
.dropList ul li:hover{

  background-color: #fff;
  color: #f44336;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.sortList ul li:hover{
  background-color: #fff;
  color: #f44336;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.search{
  width: 500px;
  height: 50%;
  border:0px;
  outline: none;
}
.form:hover{

  color: #f44336;
  transition: .5s;
  cursor: pointer;
  
  }

.searchInput{
  width: 400px;
  height: 100%;
  border: 0px;
  padding: 15px 5px ;
  color: #3a3a3a;
  font-size: 20px;
  outline: none;
}
.btn{
  background-color: transparent;
  width: 20px;
  height: 10%;
  border: 0px;
  top: 0px;
  margin: 0px 100px 0px 460px;
  display: flex;
  position: relative;
  cursor: pointer;
}
.search .btn{
	top: -25px;
	position:  relative;
}
.btn .fa-search{
  font-size: 22px;
  color: #f57168;

}
.btn i:hover{
  font-size: 24px;
  color: #9e1409;
  cursor: pointer;

}
.btn .fa-search::hover{
  font-size: 24px;
  /*color: #e01f10;*/
  color: black;
}
.input, button:focus{
  outline: none;
}

.fa-angle-right{
  float:right;

}
.sub-menu{
  display: none;

}

.hover-me:hover .sub-menu{

  position: absolute;
  display: block;
  margin-top: -68px;
  margin-left: 220px;
  background: rgb(0, 100, 0);
  height: auto;
  transition: .5s;
}
.sub-menu ul li:hover{
  
  font-size: 17px;
}
.sub-menu ul li::before{
   content:"";
   
  border-width:  0px 0px 10px 10px;
  border-style: solid;
  border-color: red transparent;
  position: absolute;
  bottom: 100%;
  right: 50px;
  top: 10px;
 }

/*dark mode colors */
.dark-mode {
  --clr-background: #8A8A8A;
  --clr-header: #595b5d;
  --clr-sidebar:  #6D6D6D;
  --clr-sidebarLU: black;
  --clr-sidebarLetter: white;
  --clr-textbox: white;
}

.wrapper-toggle-switch{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 493px;  
  margin-left: 10px;
}

.color-switch{
  width: 4em;
  height: 2em;
  border-radius: 10em;
  background-color: var(--clr-background);
  border: 2px solid var(--clr-sidebarLU); 
  position: absolute;
  cursor: pointer;
}

.color-switch-toggle{
  width: 1.6em;
  height: 1.6em;
  background: var(--clr-sidebar);
  position: absolute;
  border-radius: 10em;
  top: 0.1em;
  left: 0.1em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.color-switch::before{
  content: "Light Mode On";
  position: absolute;
  display: inline-block;
  width: 12em;
  left: 5em;
  top: 0.4em;
}

#input-color-switch:checked ~ label .color-switch-toggle{
  transform: translateX(2em);
} 

#input-color-switch:checked ~ .color-switch::before{
  content: "Dark Mode On";
}

#input-color-switch{
  display: none;
}