.container{
  top: 70px;
  left: -5px;
  width: 1px;
  height: 5px;
}

.content{
	background-position: center;
	background-size: cover;
}

.text{
	background: var(--clr-textbox);/* <---- changable text background color*/
	opacity: 50%;
	color: var(--clr-sidebarLetter);
	width: 1000px;
	height: 350px;
	margin-left: 250px;
	top: 150px;
}

/* slider */
html
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

body{
	height: 100vh;
    width: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: white;
}

.slider{
	width: 900%;
	height: 550px;
	border-radius: 20px;
	overflow: hidden;
	margin-top: 80px;
	margin-left: 250px;
	margin-bottom: 0px;
}

.slides{
	width: 80%;
	height: 510px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 15%;
	transition: 2s;
}

.slide img{
	width: 1000px;
	height: 510px;
}


.slidefirst{

	margin-left: 0px;
}

.navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
	margin-left: 150px;
}

.manual-btn{
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: white;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -15%;
}

#radio3:checked ~ .first{
	margin-left: -30%;
}
