*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


:root{
  --clr-background: #fff;
  --clr-header: #35A7E8;
  --clr-sidebar:  #038bca;
  --clr-sidebarLetter: #000;
  --clr-textbox: black;
  --clr-sidebarLU: #Ffff6f;
  --clr-searchbutton: #7673ba;
  --clr-searchhover: #4a46b8;
  --clr-listhover: #bfd4db;
  --clr-dropdownhover: #2117ff;
  --clr-dropdownborder: #78A2CC;
  --clr-list: #696969;
  --clr-listnamehover: #0700a3 ;
  --clr-searchbar: #fff;
  --clr-menu: #fff;
  --clr-textmenu: #696969;
  --clr-content: transparent;
}

html{
  
  /*--bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-text: #333333;*/
  min-height: 100vh;
  width: 100%;

}  

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--clr-background);
 
   height: 100vh;
  width: 100%

}

header{
  position: fixed;
  background: var(--clr-header); /*<---- header changable*/
  padding: 20px;
  width: 100%;
  height: 70px;
}


.hidden{
  display: none;
}
.left_area h3{
  color: #fff;
  margin: 0;
  margin-left: 50px;
  /*text-transform: uppercase;*/
  font-size: 22px;
  font-weight: 900;
}
.left_area span{
  color: var(--clr-sidebarLU);
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0D9DDB;

}

.sidebar{
background: var(--clr-sidebar); /*<---- Sidebar color*/
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar a{
  color: var(--clr-sidebarLetter); /*<---- sidebar letter colors*/
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: var(--clr-sidebarLU); /*<---- light-up color in the sidebar*/
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 200px;
  font-size: 25px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #Ffff6f;
}

#check:checked ~ .sidebar{
  left: -140px;
}
#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 120px;
  width: 80px;
}

.content{
  /*margin-left: 200px*/; /*optional if we want moving background according to side bar*/
  /*<----- changable background*/
  background-color: var( --clr-background);
  
  margin-right: 0px;
  transition: 0.5s;
  height: 100vh;
   width: 100%;
  

}
#background{

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  height: 100vh;
   width: 100%;

}

#check:checked ~ .content{
  margin-left: 0px;  /*effects of resizing background from above*/
}

#check{
  display: none;
}

/* might be the result*/
.container{
  position: static;
  margin-top: 20px;
  top: 15%;
  left: 20%;
  bottom: 0px;
  right: 0px; 
}
.result{

  position: relative;
  margin-top: -600px;
}

.text, .mapResult{
  background: var(--clr-textbox);/* <---- changable text background color*/
  opacity: 50%;
  color: var(--clr-background);
  width: 450px;
  height: 350px;
  left: 273px;
  top: 200px;
  transition: 0.5s;
}
.mapResult{
  position: fixed;
  margin-left: 500px;
  margin-right: 0px;
  transition: 0.5s;
  border: 2px solid black
}

.mapResult img{
  width: 446px;
  height: 346px;
  filter: grayscale(0%);
  transition: 0.5s;
}

.mapResult img:hover{
  filter: grayscale(50%);
  transform: scale(1.05);
}

#map img{

  width: 400px;
  height: 300px;
  left: 0;
  top: 0;
}
.text{
  position: fixed;
  padding: 20px;
  margin-right: 0px;
  margin-left: 0px;

}

#check:checked ~ .text{
  margin-left: 100px
}
/* search bar*/


.form{

  background-color: var(--clr-searchbar);
  display: flex;
  position: fixed;
  width: 800px;
  height: 50px;
  padding: 10px;
  right: 0px;
  left: 330px;
  top: 100px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(12, 18, 18, 0.5);
}

.dropdown{
  position: relative;
  width: 160px;
  padding-left: 10px;
  color: #3a3a3a;
  border-left: 2px solid var(--clr-dropdownborder);
  cursor: pointer;
}
.dropdown-sort{
  position: relative;
  width: 200px;
  padding-right: 10px;
  padding-left: 0px;
  color: #3a3a3a;
  cursor: pointer;
}


.default-option{
  padding: 5px 0px 5px 0px;
  font-size: 21px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.default-option:hover{
   color: var(--clr-dropdownhover);
}
.sort-option{
  padding: 5px 3px 0px 40px;
 font-size: 21px;
}
.sort-option:hover{
   color: var(--clr-dropdownhover);
}
/*code for dropdown list Category*/
.category-list{
  display: none;
  list-style: none;
  background-color: var(--clr-menu);
  color: var( --clr-textmenu);
  position: absolute;
  border-radius: 5px;
  width: 200px; 


}
.category-list ul{

  list-style: none;
  background-color: var(--clr-menu);
  color: var( --clr-textmenu);
  position: absolute;
  top: 15px;
  left: -36px;
  width: 200px;
  border-radius: 5px;
  display: block;
  
}



/* sort by dropdown menu*/
.sort-list{
  list-style: none;
  background-color: var(--clr-menu);
  color: var( --clr-textmenu);
  position: absolute;
  border-radius: 5px;
  display: none;

}
.sort-list ul{
  list-style: none;
  background-color: var(--clr-menu);
  color: var( --clr-textmenu);
  position: absolute;
  top: 20px;
  left: -18px;
  width: 200px;
  border-radius: 5px;
  display: block;
 
}

/* spacing */
.category-list ul li{
  margin: 5px;
  padding: 10px;
}
.category-list ul li i{
  margin: 5px;
  
}
.sort-list ul li{
  padding: 10px;
  margin: 5px;
}
.sort-list ul li i{
  margin: 5px;

}

/* gamay na triangle sa category & sort by*/
.dropdown::before{
  content: "" ;
  border-width: 6px 6px 0px 6px;
  border-style: solid;
  border-color: #1d1d1d transparent;
  position: absolute;
  right: 0px;
  top: 50%;
  
}
.dropdown-sort::before{
  content: "" ;
  border-width: 6px 6px 0px 6px;
  border-style: solid;
  border-color: #1d1d1d transparent;
  position: absolute;
  right: 20px;
  top: 50%;
  }
.category-list ul li::before{
  content:"";
  border-width: 0px 7px 7px 7px;
  border-style: solid;
  border-color: var(--clr-menu) transparent;
  position: absolute;
  bottom: 100%;
  right: 50px;

 }
 .sort-list ul li::before{

   content:"";
  border-width: 0px 7px 7px 7px;
  border-style: solid;
  border-color: var(--clr-menu) transparent;
  position: absolute;
  bottom: 100%;
  right: 45px;
 }
 /* hover for cursor*/
.category-list ul li:hover{

  background-color:  var(--clr-listhover);
  color: var(--clr-listnamehover);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.sort-list ul li:hover{
  background-color: var(--clr-listhover);
  color:var(--clr-listnamehover);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* user input to search*/
.search{
  width: 500px;
  height: 50%;
  border:0px;
  outline: none;
}


.search-input{
  width: 400px;
  height: 100%;
  border: 0px;
  padding: 15px 5px ;
  color: #3a3a3a;
  background-color: transparent;
  font-size: 20px;
  outline: none;
}
/*search button*/
.search-button{
  background-color: transparent;
  width: 20px;
  height: 10%;
  border: 0px;
  top: 0px;
  margin: 0px 100px 0px 460px;
  display: flex;
  position: relative;
  cursor: pointer;
}
.search .search-button{
  top: -25px;
  position:  relative;
}
.search-button .fa-search{
  font-size: 22px;
  color: var(--clr-searchbutton);

}
.search-button i:hover{
  font-size: 24px;
  color: var(--clr-searchhover);
  cursor: pointer;

}
.search-button .fa-search::hover{
  font-size: 24px;
  /*color: #e01f10;*/
  color: black;
}
.input, button:focus{
  outline: none;
}

.fa-angle-right{
  float:right;

}
/* sub menu position*/
.sub-menu ul{
  width: 100px;
}
.sub-menu{

  position: absolute;
  margin-top: -53px;
  margin-left: 200px;
  height: auto;
  display: none;
  
}
.submenu:hover .sub-menu{
  display: block;
  height: auto;
}

.show{
  display: block;
}

.sub-menu ul li:hover{
 
  font-size: 17px;
}
.sub-menu ul li::before{
  content:"";
  border-width:  0px 0px 10px 10px;
  border-style: solid;
  border-color: var(--clr-menu) transparent;
  position: absolute;
  bottom: 100%;
  right: 100px;
  top: 10px;
 }


/*dark mode colors */
.dark-mode {

  --clr-background: #8A8A8A;
  --clr-header: #595b5d;
  --clr-sidebar:  #6D6D6D;
  --clr-sidebarLU: black;
  --clr-sidebarLetter: white;
  --clr-textbox: white;
  --clr-listhover: #e3e3e3;
  --clr-dropdownhover: #858585;
  --clr-searchhover: #595b5d;
  --clr-searchbutton: #6D6D6D;
  --clr-dropdownborder: black;
  --clr-listnamehover: #595b5d ;
  --clr-searchbar: #cfcfcf;
  --clr-menu:  #6D6D6D;
   --clr-textmenu: #fff;

}

.wrapper-toggle-switch{

  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 580px;
  margin-left: 230px;
}

.color-switch{
  width: 4em;
  height: 2em;
  border-radius: 10em;
  background-color: var(--clr-background);
  border: 2px solid var(--clr-sidebarLU); 
  position: absolute;
  cursor: pointer;
}

.color-switch-toggle{
  width: 1.6em;
  height: 1.6em;
  background: var(--clr-sidebar);
  position: absolute;
  border-radius: 10em;
  top: 0.1em;
  left: 0.1em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.color-switch::before{
  content: "Light Mode On";
  position: absolute;
  display: inline-block;
  width: 12em;
  left: 5em;
  top: 0.4em;
}

#input-color-switch:checked ~ label .color-switch-toggle{
  transform: translateX(2em);
} 

#input-color-switch:checked ~ .color-switch::before{
  content: "Dark Mode On";
}

#input-color-switch{
  display: none;
}
