
header{
	background: #595b5d; /*<---- header changable*/
}

.left_area h3{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}

.sidebar{
	background: #038bca; /*<---- Sidebar color*/
}

.sidebar a{
	color: #000; /*<---- sidebar letter colors*/
}

.sidebar a:hover{
	background: #Ffff6f; /*<---- light-up color in the sidebar*/
}

/*.content{
	background: url(background.png) no-repeat; <----- changable background
	background-position: center;
	background-size: cover; */
}

.text{
			/* <---- changable text background color*/
	color: black;
	width: 1000px;
	height: 350px;
	margin-left: 250px;
	top: 150px;
}